*~
*.elc
*.log
*.dvi
*.aux
.svn/
tmp_stored_prelude
.emacs.desktop
*.sqlite
.emacs.desktop*

projectile-bookmarks.eld

/elpa/archives
transient/
.cache/
NOTES.md
.lsp-session*
recentf

emojis
eshell
projectile.cache
projects

# So many snippets!
elpa/yasnippet-snippets-*
elpa/stan-snippets-*

#
history
nov-places
places
tramp
url/
notes
